[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
djangorestframework = "<3.7,>=3.6.0"
scipy = "*"
numpy = "*"
coreapi = "*"
django-cors-headers = "*"
gunicorn = "*"
psycopg2 = "*"
Django = ">=1.11,<1.12"
Pygments = "*"
Markdown = "*"
q = "*"

[requires]
python_version = "3.8"
